/*---------------------------------------------------HEADER-----------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('background1.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: 3s;
}
header ul{
    float: right;
    list-style-type: none;
    margin-top: 35px;
}
header ul li{
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border: 1px solid #fff transparent;
    

}
header ul li a:hover{
    color: black;
    background-color: white;
}

.logo img{
    float: left;
    height: 160px;
    width: 350px;
    
}

.main{
    max-width: 1200px;
    margin: auto;
    
}
.titel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.titel h1{
    color: #fff;
    font-size: 80px;
    font-family: 'biome light';
    word-spacing: 0px;
}

.dropbtn {
    text-decoration: none;
    background-color: transparent;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color:black; color: white;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #ffffff; color: black;
  }
  nav{
    position: sticky;
    top: 0px;
  }

  @media screen and (max-width: 768px)
{
	header{
           width: 100%;
           height: 100vh;
    }
    header ul{
        margin-top: -30px;
        
    }
    .titel{
        font-size: 50px;
        word-spacing: 8000px;
        margin-top: 70px;
    }
	nav{
        width: 100%;
        
    }
    nav li{
        font-size: 20px;
        padding: 0px;
    }

    
    nav ul li a{
        margin: 7px;
        padding: 10px;
    }
    .dropbtn{
         font-size: 20px;
         padding: 10px;
         top: 0%;
        
        
    }
    .logo img{
        margin: 0%;
        align-items: center;
    }
  }
  @media screen and (max-width: 794px)
  {
    header{
             width: 100%;
             height: 100vh;
      }
      header ul{
          margin-top: 30px;
          
      }
      .titel{
          font-size: 50px;
          word-spacing: 8000px;
          margin-top: 70px;
      }
    nav{
          width: 100%;
          
      }
      nav li{
          font-size: 20px;
          padding: 0px;
      }
  
      
      nav ul li a{
          margin: 7px;
          padding: 10px;
      }
      .dropbtn{
           font-size: 20px;
           padding: 10px;
           top: 0%;
          
          
      }
      .logo img{
          margin: 0%;
          align-items: center;
      }
      
    }
/*---------------------------------------------------------------BODY-------------------------------------------------------------------------*/

body {
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('body2.jpg');
    background-size: cover;
    background-position: center;
    
  }
  body p, h2{
      color:  white;
  }
  
  .column {
    float: left;
    width: 40%;
    padding: 10px;
    height: 80vh; 
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .vl {
    border-left: 6px solid white;
    height: 200px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
  }
 
  @media screen and (max-width: 794px)
{
	
    body p {
        text-align: center;
    }
    body p, h2{
        text-align: center;
    }
    body{
        height: 55vh;
    }

	footer{
        width: 100%;
        height: 15vh;
    }
    footer ul li a{
        font-size: 10px;
    }
	h1{
		text-align: center;
		font-size: 150%;
    }
    .column{
        width: 50%;
        text-align: center;
        margin: 60px;
        float: none;
        padding: 15px;
        height: 70%;
    }
   
    .vl{
        height: 300px;
    }
    .wrapper i{
        padding: 5px;
    }
}
/*-------------------------------------------------------------FOOTER-----------------------------------------------------------------------*/
footer{
    height: 20vh;
    background-color: black;
    color: white;

}
footer ul{
    float: left;
    list-style-type: none;
    margin-top: 20px;
}
footer ul li{
    display: inline-block;
}
footer ul li a{
    color: white;
    text-decoration: none;
    padding: 5px;
}
.copyright{
 font-size: 10px;
 text-align: center;
 position: fixed;
 bottom: 0;

}
/*----------------------------------------------------socials---------------------------------------------------------------*/

  
  .wrapper {
    display: flex;
    float: right;
    align-items: right;
  }
  
  .wrapper i {
    padding: 10px;
    transition: all ease-in-out 150ms;
  }
  .wrapper a:nth-child(1) {
    color: #dd4b39;
  }
  .wrapper a:nth-child(2) {
    color: #4867AA;
  }
  .wrapper a:nth-child(3) {
    color: #1DA1F2;
  }
  .wrapper i:hover {
    margin-top: -3px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
  }

/*----------------------------------------------------------------RESPONSIVE----------------------------------------------------------------*/

